<!-- views/about.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap">
    <link rel="stylesheet" href="/styles/main.css">
    <style>

    </style>
<body class="bg-light">
    <!-- Navigatiebalk -->
    <%- include('header', { title: 'Producten' }) %>

    <div class="container mt-5">
        <h1 class="mb-4 text-center">About Page</h1>


        <h2>Welcome to Mechanical Keyboard Passe</h2>
    
    <p>We are passionate enthusiasts of mechanical keyboards, and our mission is to be the ultimate destination for everything related to mechanical keyboards. Whether you are a seasoned professional or just beginning to explore the world of mechanical keyboards, we have something for everyone.</p>

    <h3>Our Mission</h3>
    
    <p>At Mechanical Keyboard Passe, we believe in the power of high-quality keyboards to enhance the typing experience. Our goal is to provide a comprehensive and informative resource where visitors can learn about different types of mechanical keyboards, accessories, and the latest technologies in the field.</p>

    <h3>What We Offer</h3>
    
    <p>We offer a wide range of articles, reviews, and guides on mechanical keyboards. Whether you're looking for the perfect keyboard for gaming, programming, or everyday use, we have the information you need to make an informed decision.</p>

    <h3>Our Community</h3>
    
    <p>At Mechanical Keyboard Passe, we believe in building a strong community of keyboard enthusiasts. Join our forums, share your experiences, ask questions, and be part of the growing community of people who share the same passion for mechanical keyboards.</p>

    <h3>Contact</h3>
    
    <p>Have questions, suggestions, or just want to say hello? Feel free to contact us</a>. We're always ready to engage with like-minded individuals.</p>

    <p>Thank you for visiting Mechanical Keyboard Passe. We hope you enjoy the journey through the fascinating world of mechanical keyboards!</p>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
